<section class="services">
    <h2>Our Services</h2>
    <div class="service-list">
      <div class="service-item">
        <img src="assets/gp.jfif" alt="Programming">
        <h3>General Programming</h3>
        <p>General programming refers to the process of writing, testing, and maintaining computer programs for various purposes. 
            Our skilled programmers are proficient in multiple programming languages and can handle diverse programming tasks.</p>
      </div>
      <div class="service-item">
        <img src="assets/wd.jfif" alt="Web Development">
        <h3>Web Development</h3>
        <p>Web development involves designing and creating websites, including frontend and backend development. 
            We specialize in crafting modern and responsive websites tailored to meet our clients' needs, providing optimal user experiences and robust functionality.</p>
      </div>
      <div class="service-item">
        <img src="assets/md.jfif" alt="Mobile Apps">
        <h3>Mobile Apps</h3>
        <p>Mobile app development focuses on building applications for mobile devices such as smartphones and tablets.
             Our experienced developers can create native or cross-platform apps, ensuring seamless performance and engaging user interfaces.</p>
      </div>
      
    </div>
  </section>
